@import "node_modules/bootswatch/dist/journal/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/journal/bootswatch";

@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";

@import "z-depth";

// Add min-height utility
.mnh-100 {
  min-height: 100%;
}

// Force create button to bottom right; add depth
.fixed-bottom {
  box-shadow: $z-depth-2;
}

.fixed-bottom.right {
  left: inherit;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.fixed-bottom.left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

// Form footer progress bars.
form .progress {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}


.mnh-100 {
  min-height: 100%;
}

.mnw-100 {
  min-width: 100%;
}
