{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "network"}} Organizations{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row">
  {{#each model.edges as |edge|}}
    <div class="mb-3 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <div class="card border-0 z-depth-1">
        <div class="card-header"></div>
        <div class="card-body text-center">
          <h5 class="card-title">{{edge.node.name}}</h5>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  {{else}}
    <div class="col">
      <h5>You have not created any organizations yet.</h5>
    </div>
  {{/each}}
</div>

{{model-create-button icon="network" class="right" title="Create Organization" click=(route-action "transitionTo" "orgs.create")}}
