<div class="sticky-top z-depth-1-half">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    {{#link-to "authenticated" class="navbar-brand"}}<span class="text-primary">Auth</span>enticus{{/link-to}}

    <ul class="navbar-nav mr-auto">
      {{org-nav edges=model.edges}}
    </ul>
    <ul class="navbar-nav float-lg-right">
      {{user-nav model=user.model}}
    </ul>
  </nav>
  {{loading-progress class="bg-dark"}}
</div>
